/*div {*/
/*    border: 1px solid hotpink;*/
/*    box-sizing: border-box;*/
/*}*/

.container {
    /*width: 800px;*/

    color: white;
}

.mainContents {
    background-color: var(--primary-subcolor);
    border-radius: 15px;
    margin-bottom: 50px;
}

.titleBox {
    width: 100%;
    height: 120px;
    padding-left: 20px;
    font-family: var(--sub-font);
}

.tagsBox {
    width: 100%;
    height: 80px;
}

.editorBox {
    width:1120px ;
    margin-left: 15px;
    height: 440px;
    background-color: white;
    border-radius: 15px;

}

.button-box {
    width: 100%;
    height: 80px;
}

.titleBox .title {
    width: 100%;
    height: 40%;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    font-family: var(--sub-font);
}

.titleText {
    width: 100%;
    height: 100%;

}

.titleText input {
    width: 95%;
    height: 40%;
    border-radius: 5px;

}

.form-select.custom-size { /*태그를 설정하는 인풋타입텍스트 커스텀 공간*/
    width: 100%;
    height: 50%;
}

.gameId-box { /*첫 번째 태그 div*/
    width: 50%;
    height: 100%;
    float: left;
   margin-left:20px;
    font-family: var(--sub-font);
}

.gameId-box label{
    display: block;
    margin-bottom: 5px;
}
/*gameId 태그선택칸*/
#gameId {
    width: 90%;
    height: 40px;
    padding-right: 5px;
}

.board_category-box { /*두 번째 태그 div*/
    width: 50%;
    height: 100%;
    float: left;
    padding-left: 10px;
    font-family: var(--sub-font);
}

.board_category-box label{
    display: block;
    margin-bottom: 5px;
}
/*board_category 태그선택칸*/
#board_category {
    width: 90%;
    height: 40px;
}

.empty-box {
    width: 70%;
    height: 100%;
    float: left;
}

.cancelBtn-box {
    width: 15%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completeBtn-box {
    width: 15%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

.completeBtn-box #complete {
    background-color: var(--danger-color);
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    font-family: var(--sub-font);
}

.cancelBtn-box #cancel {
    background-color: var(--sub-btn-color);
    color: white;
    border: none;
    width: 100px;
    height: 40px;
    font-family: var(--sub-font);
}

/*섬머노트 디자인*/
#summernote {
    height: 100%;
}
.note-resizebar {
    display: none !important;
}

/* 에디터 전체 영역을 박스에 맞게 */
.editorBox .note-editor {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

/* 툴바 + 편집영역 + 리사이즈바 포함 전체 */
.editorBox .note-editing-area {
    flex-grow: 1;
    overflow-y: auto;
}

/* 입력창 높이 자동 조절 */
.editorBox .note-editable {
    flex-grow: 1;
    overflow-y: auto;
    height: 100% !important;
}

.editorBox .note-toolbar{
    border-radius: 15px;
}

.note-editor.note-frame{
    width:1120px !important;
    margin: 0 auto !important;
}