@charset "UTF-8";
/* 관리자 페이지 */
:root {
    /* 색상 변수 */
    --primary-color: #101012; /* 검정 바탕색 */
    --primary-subcolor: #2a2a2a; /* 회색 바탕 서브색 */
    --secondary-color: #3E459D; /* 청보라 컬러 */
    --btnsecondary-hover-color: #23275E; /* 청보라 클릭시 색상 */
    --danger-color: #EC6333; /* 주황색 포인트 컬러 */
    --mainbtn-hover-color: #a74013; /* 주황색 클릭시 색상 */
    --sub-btn-color: #888; /* 서브 버튼 컬러(회색) */
    --btnsub-hover-color: #636262; /* 서브 버튼 클릭시 색상 */

    /* 폰트 변수 */
    --title-font: 'Taenada', sans-serif;
    --sub-font: 'Pretendard', sans-serif;

    /*  radius 바탕  */
    --border-radius: 22px;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
    font-family: "Pretendard", sans-serif;
    color: #fff;
}

/* 회원정보 전체 박스 */
.container {
    width: 100vw;
    height: calc(100vh - 64px); /* padding 위아래 32px*2 제외 */
    padding: 32px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    gap: 38px;
    border: none;
    overflow: hidden;
}

.row {
    display: flex !important;
    height: 100%;
}

/* ----- 로그 상단 네비 ----- */
.navbar.bg-body-tertiary {
    padding: 10px 120px;
}

.bg-body-tertiary {
    background-color: var(--primary-color) !important;
}

.container-fluid {
    background-color: var(--primary-color);
}

.sidebar {
    background-color: var(--primary-color);
    padding: 10px;
    font-size: 1.2rem;
}

.sidebar button {
    background: none;
    border: none;
    color: #aaa;
    margin-bottom: 1rem;
    cursor: pointer;
}

.sidebar button.active {
    color: #fff;
}

/* ----- main content ----- */
.main-content {
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    gap: 32px;
}

/* 필터 & 버튼 */
.custom-margin-bottom {
    margin-bottom: 42px !important;
}

.d-flex button {
    height: 48px;
}


.btn-secondary:hover {
    background-color: #252764;
}

/* 체크박스 */
#checkboxNoLabel {
    margin-right: 4px;
}

/* ----- 블랙리스트 ----- */
.table-content {
    overflow: hidden;
    background-color: #2a2a2a;
    border-radius: 16px;
    width: 100%;
    max-width: 1000px;
    color: white;
}
.table-responsive.fixed-height-table {
    overflow-y: auto; /* hidden에서 변경 */
    height: 600px;
}

.table-dark {
    border-radius: 16px;
}

.table-dark th,
.table-dark td {
    background-color: #2a2a2a;
    vertical-align: middle;
    border-radius: 16px;
}

.btn-delete {
    width: 116px;
    height: 40px;
    background-color: #f25c1a;
    border: none;
}

.btn-delete:hover {
    background-color: #a74013;
}

.pagination .page-link {
    background-color: #2a2a2a;
    color: #fff;
    border: none;
}

.pagination .page-item.active .page-link {
    background-color: #3b3f9b;
    border-color: #3b3f9b;
}
