@charset "UTF-8";
/* 관리자 페이지 */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color:  var(--primary-color);
    font-family: "Pretendard", sans-serif;
    color: #fff;
}

/* 회원정보 전체 박스 */
.custom-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 32px 120px;
    box-sizing: border-box;
    background-color:  var(--primary-color);
    gap: 38px;
    border: none;
}

/* ----- 로그 상단 네비 ----- */
.navbar.bg-body-tertiary {
    padding: 10px 120px;
}

.bg-body-tertiary {
    background-color: var(--primary-color) !important;
}

.container-fluid {
    background-color:  var(--primary-color);
}

/* Sidebar - 서브바 */
.sidebar {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sidebar button {
    background: none;
    border: none;
    color: #aaa;
    margin: 1rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar button.active {
    color: #fff;
}

/* ----- main content ----- */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 32px;
    width: 100%;
    overflow: hidden;
}

/* 필터 & 버튼 */
.custom-margin-bottom {
    margin-bottom: 42px !important;
}

.d-flex button{
    height: 48px;
}


.btn-secondary:hover {
    background-color: #252764;
}

/* 체크박스 */
#checkboxNoLabel{
    margin-right: 4px;
}

/* ----- 블랙리스트 ----- */
.table-content {
    overflow: hidden;
    background-color: #2a2a2a;
    border-radius: 16px;
    width: 100%;
    max-width: 1000px;
    color: white;
}

.table-responsive.fixed-height-table {
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
    height: 600px;
}

.table-dark {
    border-radius: 16px;
}

.table-dark th,
.table-dark td {
    background-color: #2a2a2a;
    vertical-align: middle;
    border-radius: 16px;
}

.btn-delete {
    width: 116px;
    height: 40px;
    background-color: #f25c1a;
    border: none;
}

.btn-delete:hover {
    background-color: #a74013;
}

.pagination .page-link {
    background-color: #2a2a2a;
    color: #fff;
    border: none;
}

.pagination .page-item.active .page-link {
    background-color: #3b3f9b;
    border-color: #3b3f9b;
}
