@charset "UTF-8";

/* 타나다체 */
@font-face {
    font-family: 'Taenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

:root {
    /* 색상 변수 */
    --primary-color: #101012; /* 검정 바탕색 */
    --primary-subcolor: #2a2a2a; /* 회색 바탕 서브색 */
    --secondary-color: #3E459D; /* 청보라 컬러 */
    --btnsecondary-hover-color: #23275E; /* 청보라 클릭시 색상 */
    --danger-color: #EC6333; /* 주황색 포인트 컬러 */
    --mainbtn-hover-color: #a74013; /* 주황색 클릭시 색상 */
    --sub-btn-color: #888; /* 서브 버튼 컬러(회색) */
    --btnsub-hover-color: #636262; /* 서브 버튼 클릭시 색상 */

    /* 폰트 변수 */
    --title-font: 'Taenada', sans-serif;
    --sub-font: 'Noto Sans KR', sans-serif;

    /*  radius 바탕  */
    --border-radius: 22px;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* 스크롤 차단 */
    background-color: var(--primary-color); /* 이런 식으로 사용 */
    color: #fff;
}