@charset "UTF-8";

/* 프리텐다드 */
@import url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.css');

/* 타나다체 */
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.css');

:root {
    /* 색상 변수 */
    --primary-color: #101012; /* 검정 바탕색 */
    --primary-subcolor: #2a2a2a; /* 회색 바탕 서브색 */
    --secondary-color: #3E459D; /* 청보라 컬러 */
    --danger-color: #EC6333; /* 주황색 포인트 컬러 */
    --sub-btn-color: #888; /* 서브 버튼 컬러(회색) */

    /* 폰트 변수 */
    --title-font: 'Taenada', sans-serif;
    --sub-font: 'Pretendard', sans-serif;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* 스크롤 차단 */
    background-color: var(--primary-color); /* 이런 식으로 사용 */
    color: #fff;
}