<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>


    <context-param>
        <param-name>SMTP_USER</param-name>
        <param-value>apikey</param-value> <!-- SendGrid는 고정값 'apikey' -->
    </context-param>

    <context-param>
        <param-name>SMTP_PASS</param-name>
        <param-value>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</param-value> <!-- SendGrid API Key -->
    </context-param>

    <context-param>
        <param-name>SMTP_FROM</param-name>
        <param-value>jaann20914@gmail.com</param-value> <!-- SendGrid에서 'Verified'된 From 주소 -->
    </context-param>

    <!-- 관라지 아이디인지 확인 서블릿 -->
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>*.admin</url-pattern>
    </servlet-mapping>



</web-app>