* {
    box-sizing: border-box;
}
body {
    background-color: white;
}
/*컨테이너*/
#container1 {
    width: 100%;/*바디영역 전체 차지*/
    height: 100%;
    overflow: hidden;
}

/*왼쪽*/
#left{
    float: left;
    width: 50%;
    height: 100%;

    position: relative; /*부모 기능 부여*/
}
/*아래 깔리는 이미지*/
#leftZindex2{
    position: absolute; /* 부모 기준으로 지정 가능 */
    top: 0; left: 0; width: 100%; height: 100%; /*#left 꽉 채우기*/

    z-index: 2; /*아래 깔리게 인덱스 조절*/
}
#leftZindex2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*블러이미지*/
#leftZindex3{
    position: absolute; /* 부모 기준으로 지정 가능 */
    top: 16px; bottom: 16px; left: 16px; right: 16px;  /* 원하는 만큼 지정 */

    background-color: #ffffff70; /*단순 블러된 이미지 위해서 직접 지정*/
    z-index: 3;
}
#leftText{
    font-family: var(--title-font);
    font-size: 90px;
    font-weight: 600;
    color: var(--primary-color);

    margin-top: 35%;
    margin-left: 5%;
}



#rightBox input[type="text"]:focus,
#rightBox input[type="password"]:focus
{
    border: 1.5px solid var(--danger-color) !important;
    outline: 0;
    /* 포커스 링(선택 사항) */
    box-shadow: 0 0 0 3px rgba(236, 99, 51, .15);
    transition: border-color .15s ease, box-shadow .15s ease;
}

/*오른쪽*/
#right{
    float: left;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;

}
/*로그인 영역 박스*/
#rightBox{
    margin-top: 27%;
    width: 45%;
    height: 50%;
}
/*텍스트 box*/
#loginText{
    width: 100%;
    height: 25%;

    font-family: var(--title-font);
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color);
    padding-top: 4%;
}
/*아이디 비밀번호 입력 box*/
#loginBox{
    width: 100%;
    height: 40%;
    padding-top: 2%;
}
#loginBox input{
    border-radius: 11px;/*22픽셀 너무 둥그래서 임의 지정*/
    border: 1.5px solid var(--sub-btn-color);
    padding-left: 4%;

    width: 100%;
    height: 28%;
}
#loginBox input:nth-child(2) {
    margin-top: 6%;
}
/*로그인 버튼 박스*/
#loginBtnBox{
    width: 100%;
    height: 10%;
}
#loginBtnBox button{
    background-color:var(--secondary-color);
    border-radius: 11px; /*22픽셀 너무 둥그래서 임의 지정*/

    width: 100%;
    height: 48px;
}
.mainGameBtn:hover{
    background-color:var(--btnsecondary-hover-color) !important;
    border: 1px solid var(--btnsecondary-hover-color) !important;
}
.mainGameBtn:active{
    background-color:var(--btnsecondary-hover-color) !important;
    border: 1px solid var(--btnsecondary-hover-color) !important;
}
/*로그인 푸터 박스*/
#loginFooter{
    width: 100%;
    height: 25%;

    display: flex;
    justify-content: center;
}
#loginFooter a{
    margin-top: 24px;
    color: var(--sub-btn-color);
    text-decoration: none;
}
#loginFooter a:hover,#loginFooter a:active{
    cursor: pointer;
    color: var(--primary-subcolor);
}
#verticalLine{
    border-left: 1px solid var(--sub-btn-color);
    height: 25%;
    margin-top: 24px;
    margin-right: 4%;
    margin-left: 4%;
    display: inline;
}