/*공용 버튼에 대하여*/
.btns{
    margin-left: 5%;
    width: 30%;
    height: 100%;

    background-color:var(--secondary-color) !important;
    border:1px solid var(--secondary-color) !important;
    border-radius: 11px; /*22로 하면 너무 동그람*/
}
.btns:hover,.btns:active  {
    border: 1px solid var(--btnsecondary-hover-color) !important;
    background-color: var(--btnsecondary-hover-color) !important;
}


/*!* 공용: 왼쪽 폼의 모든 텍스트/비번/이메일 입력 *!
#leftBox input[type="text"]:focus,
#leftBox input[type="password"]:focus,
#leftBox input[type="email"]:focus,
#leftBox input:focus {

    border: 1.5px solid var(--danger-color) !important;
    outline: 0;
    !* 포커스 링(선택 사항) *!
    box-shadow: 0 0 0 3px rgba(236, 99, 51, .15);
    transition: border-color .15s ease, box-shadow .15s ease;
}*/


/* 선택 시 포커스 링(선택 사항) */
.input-error{
    border: 1px solid var(--danger-color) !important;
    box-shadow: 0 0 0 3px rgba(236, 99, 51, .50);
    transition: border-color .15s ease, box-shadow .15s ease;
}



.modalBtn{
    background-color: var(--danger-color);
    border: 1px solid var(--danger-color);
}
.modalBtn:hover,.modalBtn:active{
    background-color: var(--mainbtn-hover-color) !important;
    border: 1px solid var(--mainbtn-hover-color) !important;
}




* {
    box-sizing: border-box;
}
html{
    height: 100%;
    margin:0;
}
body {
    background-color: white;
}
form{
    margin: 0;
    padding: 0;
}
/*컨테이너 크기*/
#container1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/*오른쪽*/
#right {
    float: left;
    width: 50%;
    height: 100%;

    position: relative; /*부모 자격 부여*/
}
/*웰컴이미지*/
#rightZindex2 {
    position: absolute; /* 블러이미지 아래에 놓이게 세팅 */
    z-index: 2;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#rightZindex2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*블러이미지*/
#rigthZindex3 {
    position: absolute; /* 이미지 위에 놓이게 세팅 */
    z-index: 3;

    top: 7.5%; /* 원하는 만큼 내리기 */
    left: 10%;

    width: 80%;
    height: 85%;
    background-color: #ffffff70; /*단순 블러된 이미지 위해서 직접 지정*/
}
#rightText {
    font-family: var(--title-font);
    font-size: 90px;
    font-weight: 600;
    color:var(--primary-color);

    margin-top: 35%;
    margin-left: 5%;
}



/*왼쪽*/
#left {
    float: left;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*회원가입 위한 전체 박스*/
#leftBox {
    width: 55%;
    height: 70%;
}


/*1층 텍스트*/
#leftText {
    padding-top: 8%;
    width: 100%;
    height: 20%;

    font-family: var(--title-font);
    font-size: 40px;
    font-weight: 600;
    color:var(--primary-color);
}


/*2층 아이디*/
#idRow {
    width: 100%;
    height: 10%;
}
#idRowBox {/*아이디, 버튼 칸 실제로 놓이는 칸*/
    width: 100%;
    height: calc(100% - 16px);

    display: flex;
    align-items: stretch; /* 인풋,버튼 위치 동일하게 맞추려면 필요*/
}
#idRow input {
    width: 65%;
    height: 100%;

    border-radius: 11px;
    padding-left: 4%;
    border: 1.5px solid var(--sub-btn-color);
}
#idRowText {
    width: 100%;
    height: 16px;
}


/*3층 닉네임*/
#nicknameRow {
    width: 100%;
    height: 10%;
}
#nicknameRowBox {/*닉네임 실제로 놓이는 칸*/
    width: 100%;
    height: calc(100% - 16px);

    display: flex;
    align-items: stretch; /* 인풋,버튼 위치 동일하게 맞추려면 필요*/
}
#nickname {
    width: 65%;
    height: 100%;

    border-radius: 11px;
    padding-left: 4%;
    border: 1.5px solid var(--sub-btn-color);
}
#nicknameRowText {
    width: 100%;
    height: 16px;
}


/*4층 비밀번호*/
#pwRow {
    width: 100%;
    height: 10%;
}
#pwRowBox {/*비밀번호 실제 놓이는곳*/
    width: 100%;
    height: calc(100% - 16px);
    display: flex;
    justify-content: space-between; /* 비번+비번확인 간격 자동 */
}
#pwRowBox input {
    width: 48%;
    height: 100%;

    border-radius: 11px;
    padding-left: 4%;
    border: 1.5px solid var(--sub-btn-color);
}
#pwRowText {
    width: 100%;
    height: 16px;
}


/*5층 이름*/
#nameRow {
    width: 100%;
    height: 10%;
}
#nameRowBox {/*실제 이름 놓이는 칸*/
    width: 100%;
    height: calc(100% - 16px);
}
#name {
    width: 100%;
    height: 100%;

    border-radius: 11px;
    padding-left: 4%;
    border: 1.5px solid var(--sub-btn-color);
}
#nameRowText {
    width: 100%;
    height: 16px;
}


/*6층 이메일*/
#emailRow {
    width: 100%;
    height: 10%;
}
#emailRowBox {/*실제 이메일 놓이는 칸*/
    width: 100%;
    height: calc(100% - 16px);

    display: flex;
    align-items: stretch; /* 인풋,버튼 위치 동일하게 맞추려면 필요*/
}
#email {
    width: 65%;
    height: 100%;

    border-radius: 11px;
    padding-left: 4%;
    border: 1.5px solid var(--sub-btn-color);
}
#emailRowText {
    width: 100%;
    height: 16px;
}


/*7층 대시보드*/
#dashboardRow {
    width: 100%;
    height: 10%;
}
#dashboardRowBox {/*실제 대시보드 놓이는 줄*/
    display: flex;

    width: 100%;
    height: calc(100% - 16px);
}
#genderBox {
    width: 50%;
    height: 100%;
    display: inline-block;
    color:var(--primary-color);
}
#genderBox input{
    accent-color: var(--danger-color);/*눌리는 버튼 색상 지정*/
}
#yearBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
}


#dropdownMenuButton2 {
    width: 60%; /* 부모 요소의 절반 너비 */
    height: 48px;
    text-align: center;
    white-space: nowrap; /*칸줄어들지 않게 고정*/
    overflow: hidden;
    border-radius: 11px;
    background: var(--sub-btn-color);
}
#dropdownMenuButton2:hover{
    background-color: var(--btnsub-hover-color)!important;
    border: 1px solid var(--btnsub-hover-color) !important;
    color:white  !important;
}
#dropdownMenuButton2:active{
    background-color: var(--btnsub-hover-color)!important;
    border: 1px solid var(--btnsub-hover-color) !important;
    color:white  !important;
}
.dropdown-item:active{
    background-color: var(--btnsub-hover-color);
}
.dropdown-menu {
    max-height: 200px; /* 7개정도 보이게 높이 설정함 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
}
#dashboardRowText {
    width: 100%;
    height:16px;
}


/*동의 받을지 말지 고민중 이후 없앨수도??*/
#agreeRow {
    width: 100%;
    height: 20%;
}
#agreeBtnBox {
    margin-top: 11%;
    width: 100%;
    height: 30%;

    display: flex;
    align-items: stretch; /* 높이 동일하게 */
}
/*완료버튼*/
#completeBtn {
    width: 65%;
    height: 48px;
    border-radius: 11px; /*22로 하면너무동그람*/
    background-color:var(--secondary-color);
    border:1px solid var(--secondary-color);
}
#completeBtn:hover,#completeBtn:active {
    border: 1px solid var(--btnsecondary-hover-color) !important;
    background-color: var(--btnsecondary-hover-color) !important;
}
/*취소버튼*/
#delBtn {
    margin-left: 5%;
    width: 30%;
    height: 48px;
    color:var(--secondary-color);
    background-color:white;
    border:1px solid var(--secondary-color);
    border-radius: 11px;
}
#delBtn:hover,#delBtn:active {
    color:white !important;
    background-color:var(--sub-btn-color) !important;
    border:1px solid var(--sub-btn-color) !important;
}

