
/*div{*/
/*    border: 0.5px solid hotpink;*/
/*    box-sizing: border-box;*/
/*}*/
/*body{*/
/*    padding-bottom: 50px;*/
/*}*/

.container{
    min-height: calc(100vh - 60px);
}

.dropdown-toggle::after {
    display: none;
}

.post-card{

}
.comment-card{

}

.total-card{
    display: flex;
}

/*게시글 카드 영역*/
.post-card {
    background-color: var(--primary-subcolor); /* 다크 배경 */
    color: white;
    border-radius: 22px;
    padding: 24px;
    margin-left: 20px;
    margin-bottom: 32px;
}

/* 댓글 카드 영역 */
.comment-card {
    background-color: var(--primary-subcolor);
    color: white;
    border-radius: 15px;
    padding: 24px;
    margin-left: 24px;
    display:flex;
    flex-direction: column;
    margin-bottom: 32px;
}
#comment-box{
    height:750px;
    overflow-y: auto;
    overflow-x:hidden;
    padding-top: 8px;
}
/* 게시글 상단 프로필 자리 */
.profile-row{
    margin-top: 10px;
}
/* 프로필 이미지 */
.profile-img {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-img img {
    width: 50px;
    height: 50px;
}

/* 댓글 1개 row */
.comments{
    /*margin-top: 10px;*/
}
/* 댓글 작성 input */
.comment-card input[type="text"] {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 8px 12px;
    outline: none;
}
/* 삭제 수정 버튼 row */
.post-btn-row{
    margin-top: auto;
    /*padding-bottom: 24px;*/
}
.post-contents{
    height:670px;
    overflow-y: auto;
    margin-top:30px;
}
.post-contents img {
    max-width: 100%;   /* post-contents 영역을 넘지 않도록 */
    height: auto;      /* 원본 비율 유지 */
    display: block;    /* inline 특성 제거 → 줄맞춤 이슈 방지 */

}

/*게시글 작성자 칸*/
.writer{
    padding-left:30px;
    font-family: var(--sub-font);
}
/*댓글 작성자 칸*/
.comment-writer{
    padding-left:10px;
    font-size: 14px;
    font-family: var(--sub-font);
}

.comment-contents-wrapper {
    display: inline;  /* div라도 inline flow 유지 */
    word-break: break-word;
}

.comment-contents {
    display: -webkit-box;
    -webkit-line-clamp: 2;   /* 최대 2줄 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}

.comment-contents.expanded {
    -webkit-line-clamp: unset; /* 전체 내용 */
}

.send-btn-row{
    margin-top: auto;
    /*padding-bottom: 24px;*/
}

/*댓글보내는 버튼*/
#sendBtn{
    background-color: var(--secondary-color);
    border:none;
    width:80px;
    height:40px;
}
#sendBtn:hover,#sendBtn:active{
    background-color: var(--btnsecondary-hover-color);
}
/*댓글보내는 버튼div*/
.sendBtn_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#delete{
    background-color: var(--sub-btn-color);
    color:white;
    border:none;
    width:80px;
    height:40px;
    font-family: var(--sub-font);
}
#delete:hover,#delete:active{
    background-color: var(--btnsub-hover-color);
}
.deleteBtn_box{
    display: flex;
    justify-content: right;
    align-items: center;
}
#update{
    background-color: var(--danger-color);
    color:white;
    border:none;
    width:80px;
    height:40px;
    font-family: var(--sub-font);
}
#update:hover,#update:active{
    background-color: var(--mainbtn-hover-color) !important;
}
.updateBtn_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 수정 후 수정완료 버튼 */
#update-complete{
    background-color: var(--danger-color);
    color:white;
    border:none;
    font-family: var(--sub-font);
}
#update-complete:hover,#update-complete:active{
    background-color: var(--mainbtn-hover-color) !important;
}
/* 수정 후 취소 버튼 */
#cancel{
    font-family: var(--sub-font);
}
/*신고하기버튼박스*/
.reportBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 신고하기 버튼 3dot*/
#reportPost{
    width:40px;
    height:40px;
}

#reportComment{
    width:40px;
    height:40px;
}
.report-menu{
    min-width:100px;
    text-align: center;
    padding: 5px 0;     /* 위아래 패딩 줄이기 */
}
.vertical-dots:hover,.vertical-dots:active{
    background-color: var(--btnsub-hover-color);
}
#commentUpdate{
    font-family: var(--sub-font);
}
#commentUpdate:hover,#commentUpdate:active{
    background-color: var(--mainbtn-hover-color) !important;
    font-family: var(--sub-font);
}
#commentDelete{
    font-family: var(--sub-font);
}
#commentDelete:hover,#commentDelete:active{
    background-color: var(--btnsub-hover-color) !important;
    font-family: var(--sub-font);
}