@charset "UTF-8";

/* 랭킹 */
#conten-ranking {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}

.ranking-card {
    background-color: #2a2a2a;
    border-radius: 12px;
    padding: 30px 24px;
    margin-bottom: 16px;
    width: 100%; /* 부모 너비 꽉 채우기 */
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    color: white;
}
.list-group {
    background-color: transparent; /* 부모 배경 유지 */
    color: #fff;
    padding-left: 0; /* 기본 올리스트 스타일 제거 */
    margin-bottom: 0;
}

/* 리스트 아이템이 있는 경우 */
.list-group-item {
    background-color: #2a2a2a; /* 카드보다 살짝 밝은 어두운 회색 */
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 16px;
    color: white;
    border: none;
}
